/*
* Newsletter overlay
*
*/		

body.newsletter--open
	.newsletter-overlay
		opacity(1)
		visibility visible
		pointer-events auto
		.overlay
			opacity(1)
			transition(opacity 0.5s ease)
		.content-wrapper
			opacity(1)
			transform(translateY(0))
			transition(opacity 0.5s ease,transform 0.5s 0.1s cubic-bezier(0.7, -0.4, 0.4, 1.4) )
		
.newsletter-overlay
	position fixed
	top 0
	left 0
	bottom 0
	height 100vh
	width 100%
	z-index 101
	overflow hidden
	opacity(0)
	display block
	transition opacity 0.3s
	visibility hidden
	pointer-events none
	.overlay
		display none
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		background rgba(0,0,0,0.85)
		z-index 102
		opacity(0)
		transition(opacity 0.5s ease)
		@media(min-width:$tablet)
			display block
	
	.newsletter-overlay__wrapper
		position relative
		width 100%
		height 100vh
		overflow auto
		background var(--pink)
		z-index 101
		
	.content-wrapper
		position relative
		z-index 103
		padding 50px 25px
		opacity(0)
		transform(translateY(50px))
		transition(opacity 0.5s ease,transform 0.5s cubic-bezier(0.7, -0.4, 0.4, 1.4) )
		.close-btn
			position absolute
			top 25px
			right 25px
			z-index 10

	@media (min-width: 646px)
		.newsletter-overlay__wrapper
			flex_box()
			justify_content(center)
	@media (min-width: $tablet)
		.newsletter-overlay__wrapper
			background transparent
			align_items(center)
		.content-wrapper
			width 680px
			padding 100px 80px 40px 50px
			background var(--pink)
			clip-path polygon(0px 60px, 93% 0px, 100% 100%, 1px 100%)
			.close-btn
				right 69px
				
	@media (min-width: $desktop)
		.content-wrapper
			width 1024px
			padding 100px 100px 40px 100px
			.close-btn
				right 90px

	@media (min-width: $large-desktop)
		.content-wrapper
			width 1188px
			.close-btn
				right 100px
