//
// ARCHIVE
//

body.post-type-archive
	.site-main
		padding 130px 0
	h1
		text-align center
		margin 0 auto 2rem
	@media(min-width: $tablet)
		.site-main
			padding 160px 0
	@media(min-width: $desktop)
		.site-main
			padding 230px 0
	@media(min-width: $large-desktop)
		.site-main
			padding 260px 0

body.post-type-archive-resources,
body.tax-resource-types
	.site-main
		padding-top 0
		padding-bottom 130px