/*
* 404 page
*
*/

.four-o-four
	height auto
	margin-top auto
	margin-bottom auto
	min-height 80vh
	flex_box()
	flex_direction(column)
	justify_content(center)
	@media(min-width: 768px)
		h1
			font-size 3.5rem